name: redis
services:
  redis:
    image: redis:6-alpine
    container_name: redis
    restart: always
    expose:
      - "6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    networks:
      - editor-mini-private

networks:
  editor-mini-private:
    external: true
